*

!README.md
!.gitignore

!.zshrc
!.zsh_profile

!.yabairc
!.skhdrc
!.aerospace.toml
!.gitconfig
!.wezterm.lua

!.tmux-cht-command
!.tmux-cht-languages
!.tmux.conf


!.local
.local/*
!.local/scripts
!.local/scripts/**

!.config
.config/*
!.config/nvim
!.config/nvim/**
!.config/karabiner
!.config/karabiner/karabiner.json
