*

!.gitignore

!.zshrc
!.zsh_profile

!.yabairc
!.skhdrc

!.tmux-cht-command
!.tmux-cht-languages
!.tmux.conf


!.local
.local/*
!.local/scripts
!.local/scripts/**

!.config
.config/*
!.config/nvim
!.config/nvim/**
